ol{
    list-style-type: none;
    padding:0;
}

li {
    background-color: green;
}
li.current {
    background-color:blue;
}
 /* select all list items that come after current */
li.current ~ li {
    background-color: tomato;
    
}